<div class="container">
<h1> All Buses for  <%= @station.name %> station</h1>

<ul>
  <% @stops.each do |stop| %>
  <li><%= stop.bus %></li>
  <% end %>
</ul>
<%= link_to "Go Back", stops_path, :class=> "btn btn-default" %>
<div>
